/*font-family: 'Nanum Gothic', sans-serif; font-weight:700
font-family: 'Nanum Myeongjo', serif; font-weight:700
font-family: 'Noto Sans KR', sans-serif; font-weight:700
font-family: 'Roboto', sans-serif; font-weight:700*/


#content .content_area {
    width: 1200px;
    margin: 50px auto;
    position: relative;
    border-top: 3px solid #333;
}

#content h3 {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size: 50px;
    color: #333;
    padding-top: 100px;
    text-align: center;
    position: relative;
}


#list_search {
    overflow: hidden;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 700;
    border-bottom: 2px solid #666;
    padding: 15px 0;
    background-color: #eee;
}

#list_search1 {
    
    margin: 2px 0 0 10px;
    float: left;
    font-size:18px;
}

#list_search .list_search_group {
    float: right;
    overflow: hidden;
}

#list_search .list_search_group div {
    float: left
}

#list_search #list_search2 {
    margin-left: 5px
}

#list_search #list_search3 {
    margin-left: 5px
}

#list_search #list_search4 {
    margin-left: 5px
}

#list_search #list_search4 input {
    padding: 5px
}

#list_search #list_search5 {
    margin-left: 5px;
    margin-top: 1px;
}

#list_search #list_search5 input {
    padding: 4px 10px;
    background: none;
    border:1px solid #666;
    background-color: #eeeeee;
    color: #666;
    border-radius: 2px;
    font-weight: 500;
}

#list_search select {
    padding: 5px
}



#list_top_title {
    height: 30px;
    font-weight: bold;
    font-size: 18px;
    padding: 15px 0 10px;
    color: #333;
    border-bottom: 1px solid #eeeeee;
}

#list_top_title ul {
    overflow: hidden
}

#list_top_title ul li {
    float: left
}

#list_title1 {
    text-align: center;
    width: 100px
}

#list_title2 {
    text-align: center;
    width: 600px
}

#list_title3 {
    text-align: center;
    width: 160px;
    margin-left: 90px;
}

#list_title4 {
    text-align: center;
    width: 140px;
    
}

#list_title5 {
    text-align: center;
    width: 100px;
    
    
}



.list_item {
    overflow: hidden;
    padding: 15px 0;
    height: 18px;
    border-bottom: solid 1px #eeeeee;
    background-color: #fff;
    transition: all .2s ease-in;
}
.list_item:hover {
    background-color: #f8f8f8;
}


.list_item div {
    float: left
}

.list_item1 {
    text-align: center;
    width: 100px;
    font-size: 16px;
}

.list_item2 {
    text-align: center;
    width: 600px;
    font-size: 16px;
}

.list_item3 {
    text-align: center;
    width: 160px;
    margin-left: 90px;
    font-size: 16px;
}

.list_item4 {
    text-align: center;
    width: 140px;
    font-size: 16px;
}

.list_item5 {
    text-align: center;
    width: 100px;
    font-size: 16px;
}


#page_button {
    font-family: 'Nanum Gothic', sans-serif;
    overflow: hidden;
    margin-top: 30px;
    font-size: 18px;
}

#page_num {
    font-size: 18px;
    float: left;
    width: 100%;
    text-align: center;
    padding-top: 6px
}

#button {
   
    float: right;
    overflow: hidden
}

#button a {
    font-size: 16px;
    display: block;
    float: left;
    width: 80px;
    text-align: center;
    color: #666;
    padding: 5px 0;
    margin-left: 5px;
    border-radius: 2px;
    border: 1px solid #666;
    transition: all .2s ease-in;
}

#button a:hover {
    background: #0166b3;
    color: #fff;
}

.content_area #write_form {
    width: 1200px;
    margin: 0 auto 30px;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 16px;
   
}

.col1 {
    margin: 5px 0;
    width: 100px;
    font-weight: 700;
    background: #fff;
    float: left;
    text-align: center;
    margin-right: 10px
}

.col2 {
    margin: 5px 0;
    float: left
}

.col3 {
    float: right;
    padding-top: 15px
}

#write_row1 {
    border-bottom: 1px solid #ccc;
    overflow: hidden;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 16px;
}

#write_row1 div {
    float: left;
}

#write_row1 .col1 {
    text-align: center;
    width: 100px;
    margin-right: 20px;
    padding: 20px;
}

#write_row1 .col3 {
    float: right;
    padding: 20px;
}

#write_row1 .col2 {
    padding: 20px 20px 20px  0 ;
}

#write_row2 {
    overflow: hidden;
    border-bottom: 1px solid #ccc;
}

#write_row2 .col1 {
    text-align: center;
    width: 100px;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 16px;
    margin-right: 20px;
    padding: 20px;
}

#write_row2 div {
    float: left;
}

#write_row2 .col2 input {
    outline: none;
    border: none;
    margin-top: 12px;
    background: #f8f8f8;
    width: 1000px;
    padding: 10px;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 16px;
    line-height: 1.5em;
}

#write_row3 {
    overflow: hidden;
    border-bottom: 1px solid #ccc;
}

#write_row3 .col1 {
    text-align: center;
    width: 100px;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 16px;
    margin-right: 20px;
    padding: 20px;
}

#write_row3 div {
    float: left;
}

#write_row3 .col2 textarea {
    outline: none;
    border: none;
    margin: 12px 0;
    background: #f8f8f8;
    width: 1000px;
    padding: 10px;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 16px;
    line-height: 1.5em;
}


#write_button {
    margin: 20px 20px 50px 0;
    width: 280px;
   float: right;
    text-align: center;
    overflow: hidden;
    
}

#write_button input {
    display: block;
    float: right;
    color: #666;
    width: 130px;
    padding: 10px 0;
    border-radius: 2px;
    background: #fff;
    border: none;
    outline: none;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #666;
    transition: all .2s ease-in;
}

#write_button input:hover {
    background: #0166b3;
    color: #fff;
}

#write_button a {
    display: block;
    float: left;
    color: #666;
    width: 130px;
    padding: 9px 0;
    margin-right: 10px;
    border-radius: 2px;
    border: 1px solid #666;
    transition: all .2s ease-in;
    font-size: 18px;
    
    
}

#write_button a:hover {
    background: rgb(182, 182, 182);
    color: #fff;
}



#view_title {
    height: 30px;
    font-weight: bold;
    font-size: 18px;
    padding: 15px 0 10px;
    color: #333;
    border-bottom: 1px solid #666;
    background-color: #eeeeee;
}


#view_title1 {
    float: left;
    width: 70%;
}

#view_title2 {
    float: left;
    width: 28%;
    text-align: right;
}


#view_content {
    min-height: 200px;
    padding: 15px;
    margin-bottom: 5px;
    overflow: hidden;
    line-height: 150%;
    border-bottom: solid 1px #cccccc;
    text-align: justify;
}

#view_button {
    float: right;
    width: 501px;
    border-radius: 2px;
    font-weight: bold;
    text-align: center;   
    overflow: hidden;
    margin-bottom: 100px;
}

#view_button a {
    display: block;
    float: left;
    color: #666;
    width: 110px;
    padding: 9px 0;
    margin-right: 5px;
    border-radius: 2px;
    
    transition: all .2s ease-in;
    font-size: 18px;
}

#view_button a:nth-child(4) {
    margin-right: 0;
}

#view_button a:hover {
    background: #0166b3;
    color: #fff;
}