body {
    background-color: rgb(245, 245, 245);
    font-size: 18px;
    font-family: 'Nanum Gothic', 'san-serif';
    background-image: url(../images/member_bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    
}

.hidden {
    display: block;
    position: absolute;
    z-index: 10;
    left: -1000%;
    width: 1px;
    height: 1px;
    overflow: hidden;
    color: #fff
}

a {
    text-decoration: none;
    color: rgb(117, 117, 117);
    font-weight: bold;

}

p {
    text-align: left;
    padding: 20px 0 0;
    font-size: 14px;
    margin-left: 20px;
    color: #999;

}

h1 {height: 50px;}

#wrap {
    width: 1200px;
    margin: 80px auto
}

.logo {
    display: block;
    width: 154px;
    height: 167px;
    background: url(../images/header_logo.png) no-repeat;
    text-indent: -999%;
    margin: 50px auto;

}

.window { 
    width: 540px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 50%;
    top: 20%;
    margin-left: -270px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
}


#title {
    text-align: center
}

fieldset {
    width: 500px;
    margin: 0 auto;
    border: none
}

input {
    border: none;
    display: block;
    margin: 15px 0;
    width: 480px;
    height: 50px;
    background-color: rgb(232, 240, 254);
    padding: 0 10px;
    font-size: 16px;
    border-radius: 3px;
    outline: none
}

.signup,
.go_join,
.find {
    display: block;
    width: 500px;
    background-color: rgb(78, 136, 245);
    color: #ffe;
    text-align: center;
    transition: all .5s
}

.signup,
.find {
    height: 50px;
    margin-bottom: 10px;
    cursor: pointer
}

.go_join {
    height: 40px;
    line-height: 40px;
    margin: 30px auto;
    border-radius: 3px
}

.signup:hover,
.go_join:hover,
.find:hover {
    background:#0066b3;
}

ul {
    list-style: none;
    overflow: hidden;
    width: 500px;
    margin: 0 auto;
    padding: 0
}

ul li {
    margin: 30px auto;
    overflow: hidden;
    float: left;
    text-align: center
}

ul li:last-child {
    float: right
}

ul li span {
    margin-left: 20px
}

ul li i {
    margin-right: 8px
}

#join_button {
    position: relative;
    margin-top: 50px
}

#join_button::before {
    content: '';
    width: 500px;
    height: 1px;
    background: #ccc;
    position: absolute;
    top: -20px;
    left: 50%;
    margin-left: -250px
}

/*find*/
.telBox {
    clear: both;
    margin: -20px 0
}

.telBox select {
    width: 135px;
    border: 0px;
    font-size: 18px;
    color: #777;
    height: 60px;
    background: rgb(232, 240, 254);
    height: 50px;
    padding: 7px
}

.telBox input {
    width: 135px;
    display: inline
}

#id_input_button .go li {
    margin: 5px 0;
    width: auto
}

#id_input_button .go li:last-of-type a {
    margin-left: 10px
}

.loadtexton {
    text-align: center;
    border: 1px dashed #ccc;
    width: 500px;
    overflow: hidden;
    margin: 20px 0 20px -250px;
    position: relative;
    left: 50%;
    border-radius: 10px;
    display: block;
    padding: 20px 0;
    line-height: 1.5em
}

.loadtexton strong:first-of-type {
    font-size: 20px;
    line-height: 2em
}